flow.json
[
    {
        "id": "185fd24d.e6aeae",
        "type": "tab",
        "label": "All Nodes",
        "disabled": false,
        "info": ""
    },
    {
        "id": "86fda790.c33468",
        "type": "inject",
        "z": "185fd24d.e6aeae",
        "name": "",
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 145,
        "y": 570,
        "wires": [
            [
                "9485e2f6.d2b56"
            ]
        ]
    },
    {
        "id": "cef7e958.8a6258",
        "type": "ui_gauge",
        "z": "185fd24d.e6aeae",
        "name": "",
        "group": "454d5f6c.f4cd9",
        "order": 3,
        "width": "11",
        "height": "11",
        "gtype": "gage",
        "title": "display moist in guage",
        "label": "units",
        "format": "{{value}}",
        "min": "100",
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "400",
        "seg2": "600",
        "x": 784,
        "y": 304,
        "wires": []
    },
    {
        "id": "654e9c5b.249ea4",
        "type": "function",
        "z": "185fd24d.e6aeae",
        "name": "check moisture",
        "func": "if(msg.payload.name)\n{\n    flow.set(\"plantConfig\",msg.payload);\n    return msg;\n}\nvar plant=flow.get(\"plantConfig\");\nif(msg.payload>=plant.watering.dry.min)\n    {\n        flow.set(\"water\",true);\n        msg.payload=1//\"The plant is DRY\";\n    }\nelse\n   {\n       flow.set(\"water\",false);\n        msg.payload=0;//=\"The plant is moist\";\n   }\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 460,
        "y": 342,
        "wires": [
            [
                "b8465f06.b7e3b"
            ]
        ]
    },
    {
        "id": "2eaa590a.f84936",
        "type": "inject",
        "z": "185fd24d.e6aeae",
        "name": "",
        "topic": "plant configration",
        "payload": "{\"name\":\"Kalanhoe\",\"watering\":{\"dry\":{\"min\":600,\"max\":1000}}}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 164,
        "y": 380,
        "wires": [
            [
                "654e9c5b.249ea4"
            ]
        ]
    },
    {
        "id": "15d40ebd.4c0811",
        "type": "inject",
        "z": "185fd24d.e6aeae",
        "name": "",
        "topic": "water",
        "payload": "",
        "payloadType": "date",
        "repeat": "3",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 185,
        "y": 646,
        "wires": [
            [
                "dcb4a0e2.709ad"
            ]
        ]
    },
    {
        "id": "b8465f06.b7e3b",
        "type": "ui_text",
        "z": "185fd24d.e6aeae",
        "group": "ef764282.79efe",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 740,
        "y": 390,
        "wires": []
    },
    {
        "id": "dcb4a0e2.709ad",
        "type": "function",
        "z": "185fd24d.e6aeae",
        "name": "start watering",
        "func": "var water=flow.get(\"water\");\n\nif(water===true)\n    {\n        msg.payload= 1;\n    }\nelse    \n    {\n        msg.payload= 0;\n        msg.payload=null;\n        return null;\n    }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 422,
        "y": 646,
        "wires": [
            [
                "abaa819f.04ede"
            ]
        ]
    },
    {
        "id": "abaa819f.04ede",
        "type": "trigger",
        "z": "185fd24d.e6aeae",
        "op1": "1",
        "op2": "0",
        "op1type": "num",
        "op2type": "num",
        "duration": "2",
        "extend": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "name": "",
        "x": 630,
        "y": 646,
        "wires": [
            [
                "f0601016.a263f",
                "1fd618a1.e77cf7"
            ]
        ]
    },
    {
        "id": "24656e81.dcf6f2",
        "type": "ui_form",
        "z": "185fd24d.e6aeae",
        "name": "",
        "label": "Add Plant Configuration",
        "group": "a6e09b29.3b2948",
        "order": 1,
        "width": "0",
        "height": "0",
        "options": [
            {
                "label": "Name",
                "value": "plant_name",
                "type": "text",
                "required": true
            },
            {
                "label": "Min water",
                "value": "min_water",
                "type": "text",
                "required": true
            },
            {
                "label": "Turn on lamp at",
                "value": "lamp_on",
                "type": "text",
                "required": true
            },
            {
                "label": "Turn off lamp at",
                "value": "lamp_off",
                "type": "text",
                "required": true
            }
        ],
        "formValue": {
            "plant_name": "",
            "min_water": "",
            "lamp_on": "",
            "lamp_off": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "",
        "x": 233,
        "y": 1292,
        "wires": [
            [
                "c2cb0fc5.79d0f"
            ]
        ]
    },
    {
        "id": "552d49cc.460e38",
        "type": "ui_button",
        "z": "185fd24d.e6aeae",
        "name": "",
        "group": "ef764282.79efe",
        "order": 6,
        "width": "0",
        "height": "0",
        "passthru": false,
        "label": "Water now",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "fa-tint",
        "payload": "0",
        "payloadType": "num",
        "topic": "",
        "x": 146,
        "y": 779,
        "wires": [
            [
                "af6a64fc.34c498",
                "9485e2f6.d2b56"
            ]
        ]
    },
    {
        "id": "921a3bc7.122e38",
        "type": "ui_dropdown",
        "z": "185fd24d.e6aeae",
        "name": "",
        "label": "Choose plant program",
        "tooltip": "",
        "place": "Select option",
        "group": "b1163716.73b278",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "options": [
            {
                "label": "Kalanchoe",
                "value": "kalanchoe",
                "type": "str"
            },
            {
                "label": "kala",
                "value": "kala",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "x": 252,
        "y": 1672,
        "wires": [
            [
                "bf5f90d7.1bc36"
            ]
        ]
    },
    {
        "id": "181b03bf.40090c",
        "type": "ui_text",
        "z": "185fd24d.e6aeae",
        "group": "ef764282.79efe",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Plant name:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1248,
        "y": 1767,
        "wires": []
    },
    {
        "id": "decd74a9.b94628",
        "type": "ui_text",
        "z": "185fd24d.e6aeae",
        "group": "ef764282.79efe",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Min water",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1239,
        "y": 1826,
        "wires": []
    },
    {
        "id": "2b0073dc.81ceac",
        "type": "ui_text",
        "z": "185fd24d.e6aeae",
        "group": "ef764282.79efe",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Turn on lamp at",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1273,
        "y": 1887,
        "wires": []
    },
    {
        "id": "ed97ba30.c7f798",
        "type": "ui_text",
        "z": "185fd24d.e6aeae",
        "group": "ef764282.79efe",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Turn off lamp at",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1273,
        "y": 1944,
        "wires": []
    },
    {
        "id": "1b470ec5.4d2591",
        "type": "function",
        "z": "185fd24d.e6aeae",
        "name": "push new plant to all",
        "func": "msg.payload.push(flow.get(\"new_plant\"));\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 955,
        "y": 1292,
        "wires": [
            [
                "bd2a4102.2eda4",
                "dbe0e22e.1624b"
            ]
        ]
    },
    {
        "id": "c2cb0fc5.79d0f",
        "type": "function",
        "z": "185fd24d.e6aeae",
        "name": "Set to flow new plant",
        "func": "flow.set(\"new_plant\",msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 480,
        "y": 1292,
        "wires": [
            [
                "ef6c96b8.277138"
            ]
        ]
    },
    {
        "id": "fd289ad.adf6268",
        "type": "inject",
        "z": "185fd24d.e6aeae",
        "name": "on start",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 212,
        "y": 1045,
        "wires": [
            [
                "85a4c2c9.85e3b",
                "3d0e570c.12a008"
            ]
        ]
    },
    {
        "id": "dbe0e22e.1624b",
        "type": "function",
        "z": "185fd24d.e6aeae",
        "name": "Read plants config names",
        "func": "var configs=[];\nvar saved=[];\nsaved=flow.get(\"saved_programs\");\nsaved.forEach(function(plant){\n    configs.push(plant.plant_name);\n});\nmsg.options=configs;\nmsg.payload=flow.get(\"current_program\")\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 243,
        "y": 1615,
        "wires": [
            [
                "921a3bc7.122e38"
            ]
        ]
    },
    {
        "id": "bf5f90d7.1bc36",
        "type": "function",
        "z": "185fd24d.e6aeae",
        "name": "set flow current program",
        "func": "flow.set(\"current_program\",msg.payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 642,
        "y": 1672,
        "wires": [
            [
                "3d0d1eb0.4df212",
                "e4de0e3.adbb0f"
            ]
        ]
    },
    {
        "id": "9e2083f5.a1667",
        "type": "function",
        "z": "185fd24d.e6aeae",
        "name": "get current program properties",
        "func": "var program=flow.get(\"current_program\");\nvar dbPlants=msg.payload;\nvar result= dbPlants.filter(progr=>progr.plant_name===program);\nmsg.payload=result[0];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 757,
        "y": 1843,
        "wires": [
            [
                "bd77ef38.54611",
                "b35e3d20.5f229",
                "3eeeb662.4fd7ca",
                "7c9b1de2.db05c4",
                "db9d37f7.3a52d8"
            ]
        ]
    },
    {
        "id": "bd77ef38.54611",
        "type": "function",
        "z": "185fd24d.e6aeae",
        "name": "get name",
        "func": "msg.payload=msg.payload.plant_name;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1029,
        "y": 1767,
        "wires": [
            [
                "181b03bf.40090c"
            ]
        ]
    },
    {
        "id": "b35e3d20.5f229",
        "type": "function",
        "z": "185fd24d.e6aeae",
        "name": "get min water",
        "func": "msg.payload=msg.payload.min_water;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1049,
        "y": 1824,
        "wires": [
            [
                "decd74a9.b94628"
            ]
        ]
    },
    {
        "id": "3eeeb662.4fd7ca",
        "type": "function",
        "z": "185fd24d.e6aeae",
        "name": "get lamp on",
        "func": "msg.payload=msg.payload.lamp_on;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1039,
        "y": 1881,
        "wires": [
            [
                "2b0073dc.81ceac"
            ]
        ]
    },
    {
        "id": "7c9b1de2.db05c4",
        "type": "function",
        "z": "185fd24d.e6aeae",
        "name": "get lamp ff",
        "func": "msg.payload=msg.payload.lamp_off;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1039,
        "y": 1938,
        "wires": [
            [
                "ed97ba30.c7f798"
            ]
        ]
    },
    {
        "id": "92c0f3a1.d8311",
        "type": "inject",
        "z": "185fd24d.e6aeae",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.2",
        "x": 165,
        "y": 2907,
        "wires": [
            [
                "f15e71b1.74e71"
            ]
        ]
    },
    {
        "id": "80f7fcdd.d7d32",
        "type": "inject",
        "z": "185fd24d.e6aeae",
        "name": "on start",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.2",
        "x": 193,
        "y": 1520,
        "wires": [
            [
                "dbe0e22e.1624b"
            ]
        ]
    },
    {
        "id": "459cf4b0.1248dc",
        "type": "function",
        "z": "185fd24d.e6aeae",
        "name": "set flow current program",
        "func": "flow.set(\"current_program\",msg.payload);\n//msg.payload={msg.payload};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 712,
        "y": 1090,
        "wires": [
            []
        ]
    },
    {
        "id": "7d9f986.f018268",
        "type": "function",
        "z": "185fd24d.e6aeae",
        "name": "set flow saved programs",
        "func": "flow.set(\"saved_programs\",msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 718,
        "y": 1026,
        "wires": [
            []
        ]
    },
    {
        "id": "600a79cf.7aa068",
        "type": "inject",
        "z": "185fd24d.e6aeae",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 165,
        "y": 2793,
        "wires": [
            [
                "49e73e5d.1f348"
            ]
        ]
    },
    {
        "id": "49e73e5d.1f348",
        "type": "function",
        "z": "185fd24d.e6aeae",
        "name": "",
        "func": "msg.payload=\"ontime 23:09\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 316,
        "y": 2793,
        "wires": [
            [
                "b725416e.94ec4"
            ]
        ]
    },
    {
        "id": "f15e71b1.74e71",
        "type": "function",
        "z": "185fd24d.e6aeae",
        "name": "",
        "func": "msg.payload=\"offtime 23:10\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 345,
        "y": 2906,
        "wires": [
            [
                "b725416e.94ec4"
            ]
        ]
    },
    {
        "id": "bf9e5003.15401",
        "type": "ui_text_input",
        "z": "185fd24d.e6aeae",
        "name": "",
        "label": "Turn on lamp at:",
        "tooltip": "08:00",
        "group": "51212c3.e7244d4",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": "1000",
        "topic": "",
        "x": 175,
        "y": 2508,
        "wires": [
            [
                "9662a8cd.16bf78",
                "ffe5c7a2.022df8"
            ]
        ]
    },
    {
        "id": "9662a8cd.16bf78",
        "type": "function",
        "z": "185fd24d.e6aeae",
        "name": "set sheduler time",
        "func": "\n msg.payload=\"ontime \"+msg.payload;\nreturn msg ;",
        "outputs": 1,
        "noerr": 0,
        "x": 434,
        "y": 2466,
        "wires": [
            [
                "6707f3da.f2390c"
            ]
        ]
    },
    {
        "id": "df48249.02e82d8",
        "type": "ui_text_input",
        "z": "185fd24d.e6aeae",
        "name": "",
        "label": "Turn off lamp at:",
        "tooltip": "08:00",
        "group": "51212c3.e7244d4",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": "1000",
        "topic": "",
        "x": 175,
        "y": 2584,
        "wires": [
            [
                "23105b71.e96814",
                "c2399a3d.d697b8"
            ]
        ]
    },
    {
        "id": "23105b71.e96814",
        "type": "function",
        "z": "185fd24d.e6aeae",
        "name": "set sheduler time",
        "func": "msg.payload=\"offtime \"+msg.payload;\nreturn msg ;",
        "outputs": 1,
        "noerr": 0,
        "x": 432,
        "y": 2603,
        "wires": [
            [
                "6707f3da.f2390c"
            ]
        ]
    },
    {
        "id": "ffe5c7a2.022df8",
        "type": "function",
        "z": "185fd24d.e6aeae",
        "name": "set flow value",
        "func": "flow.set(\"lamp_ontime\",msg.payload);\n//msg.payload={\"lamp\":msg.payload};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 439,
        "y": 2541,
        "wires": [
            []
        ]
    },
    {
        "id": "c2399a3d.d697b8",
        "type": "function",
        "z": "185fd24d.e6aeae",
        "name": "set config valie",
        "func": "flow.set(\"lamp_offtime\",msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 441,
        "y": 2698,
        "wires": [
            []
        ]
    },
    {
        "id": "bd2a4102.2eda4",
        "type": "DataIn",
        "z": "185fd24d.e6aeae",
        "collection": "aafe4b69.45f9a8",
        "name": "save all plants",
        "update": true,
        "path": "/plants",
        "x": 1220,
        "y": 1292,
        "wires": []
    },
    {
        "id": "e4de0e3.adbb0f",
        "type": "DataIn",
        "z": "185fd24d.e6aeae",
        "collection": "aafe4b69.45f9a8",
        "name": "Save current",
        "update": true,
        "path": "/currentProgram",
        "x": 507,
        "y": 1786,
        "wires": []
    },
    {
        "id": "ef6c96b8.277138",
        "type": "DataOut",
        "z": "185fd24d.e6aeae",
        "collection": "aafe4b69.45f9a8",
        "name": "ReadPlants",
        "path": "/plants",
        "error": false,
        "x": 735,
        "y": 1292,
        "wires": [
            [
                "1b470ec5.4d2591"
            ]
        ]
    },
    {
        "id": "85a4c2c9.85e3b",
        "type": "DataOut",
        "z": "185fd24d.e6aeae",
        "collection": "aafe4b69.45f9a8",
        "name": "Read plants config",
        "path": "/plants",
        "error": false,
        "x": 432,
        "y": 1026,
        "wires": [
            [
                "7d9f986.f018268"
            ]
        ]
    },
    {
        "id": "3d0d1eb0.4df212",
        "type": "DataOut",
        "z": "185fd24d.e6aeae",
        "collection": "aafe4b69.45f9a8",
        "name": "Read plants config",
        "path": "/plants",
        "error": false,
        "x": 508,
        "y": 1843,
        "wires": [
            [
                "9e2083f5.a1667"
            ]
        ]
    },
    {
        "id": "3d0e570c.12a008",
        "type": "DataOut",
        "z": "185fd24d.e6aeae",
        "collection": "aafe4b69.45f9a8",
        "name": "Read current program",
        "path": "/currentProgram",
        "error": false,
        "x": 442,
        "y": 1083,
        "wires": [
            [
                "459cf4b0.1248dc"
            ]
        ]
    },
    {
        "id": "b725416e.94ec4",
        "type": "schedex",
        "z": "185fd24d.e6aeae",
        "name": "",
        "suspended": false,
        "lat": "42.7189",
        "lon": "23.26531",
        "ontime": "07:28",
        "ontopic": "",
        "onpayload": "",
        "onoffset": 0,
        "onrandomoffset": 0,
        "offtime": "goldenHour",
        "offtopic": "",
        "offpayload": "",
        "offoffset": 0,
        "offrandomoffset": 0,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": true,
        "sun": true,
        "x": 546,
        "y": 2831,
        "wires": [
            [
                "4c4cbb40.c8e674"
            ]
        ]
    },
    {
        "id": "6707f3da.f2390c",
        "type": "schedex",
        "z": "185fd24d.e6aeae",
        "name": "",
        "suspended": false,
        "lat": "42.67868",
        "lon": "23.36113",
        "ontime": "07:28",
        "ontopic": "",
        "onpayload": "on",
        "onoffset": 0,
        "onrandomoffset": 0,
        "offtime": "goldenHour",
        "offtopic": "",
        "offpayload": "off",
        "offoffset": 0,
        "offrandomoffset": 0,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": true,
        "sun": true,
        "x": 736,
        "y": 2508,
        "wires": [
            []
        ]
    },
    {
        "id": "54fe3ab.d5223c4",
        "type": "inject",
        "z": "185fd24d.e6aeae",
        "name": "on start and every 24 hours",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "86400",
        "crontab": "",
        "once": true,
        "onceDelay": "7",
        "x": 225,
        "y": 105,
        "wires": [
            [
                "d4fb4e67.7c9de"
            ]
        ]
    },
    {
        "id": "5f807db1.759794",
        "type": "ui_template",
        "z": "185fd24d.e6aeae",
        "group": "454d5f6c.f4cd9",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<div ng-bind-html=\"msg.payload\"></div>\n<img src=\"{{msg.payload}}\" style=\"width:800px;height:600px;\"></img>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 1067,
        "y": 152,
        "wires": [
            []
        ]
    },
    {
        "id": "b8d38ccc.34c8e",
        "type": "function",
        "z": "185fd24d.e6aeae",
        "name": "get /filename",
        "func": "var dir=msg.payload;\nif(!dir)\n    {\n        return null;\n    }\nif(dir.startsWith(\"/home\"))\n{\n    //var arr=dir.split('/');\n    //msg.payload=\"/\"+arr[arr.length-1];\n    //return msg;\n    msg.payload=\"/\"+msg.filename;\n    return msg;\n}\nelse \nreturn null;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 849,
        "y": 152,
        "wires": [
            [
                "5f807db1.759794"
            ]
        ]
    },
    {
        "id": "d4fb4e67.7c9de",
        "type": "function",
        "z": "185fd24d.e6aeae",
        "name": "create file name",
        "func": "var d = new Date();\nmsg.filename=\nd.getDate()+\"-\"+d.getMonth()+\"-\"+d.getFullYear()+\n\"_\"+d.getHours()+'-'+d.getMinutes()+\".jpg\";\n\nmsg.payload=\"\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 460,
        "y": 152,
        "wires": [
            [
                "82a551c2.583bd"
            ]
        ]
    },
    {
        "id": "21ac7c9b.e763a4",
        "type": "comment",
        "z": "185fd24d.e6aeae",
        "name": "make picture     ",
        "info": "",
        "x": 108,
        "y": 57,
        "wires": []
    },
    {
        "id": "a76d94a4.ce4c58",
        "type": "comment",
        "z": "185fd24d.e6aeae",
        "name": "read moisture",
        "info": "",
        "x": 145,
        "y": 255,
        "wires": []
    },
    {
        "id": "cf78d093.a37ef",
        "type": "comment",
        "z": "185fd24d.e6aeae",
        "name": "display moisture",
        "info": "",
        "x": 764,
        "y": 247,
        "wires": []
    },
    {
        "id": "73924c23.e2ac44",
        "type": "comment",
        "z": "185fd24d.e6aeae",
        "name": "water pump",
        "info": "",
        "x": 145,
        "y": 525,
        "wires": []
    },
    {
        "id": "dfbade7.7f1162",
        "type": "comment",
        "z": "185fd24d.e6aeae",
        "name": "on start read configuration and current program",
        "info": "",
        "x": 256,
        "y": 969,
        "wires": []
    },
    {
        "id": "87ff880e.cefbd8",
        "type": "ui_button",
        "z": "185fd24d.e6aeae",
        "name": "",
        "group": "454d5f6c.f4cd9",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Get picture",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "fa-camera-retro",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "x": 184,
        "y": 152,
        "wires": [
            [
                "d4fb4e67.7c9de"
            ]
        ]
    },
    {
        "id": "91085836.876998",
        "type": "comment",
        "z": "185fd24d.e6aeae",
        "name": "create new plant configuration",
        "info": "",
        "x": 196,
        "y": 1235,
        "wires": []
    },
    {
        "id": "7d4e0cd7.f66154",
        "type": "comment",
        "z": "185fd24d.e6aeae",
        "name": "on start add names to dropdown and set value",
        "info": "",
        "x": 246,
        "y": 1482,
        "wires": []
    },
    {
        "id": "4c4cbb40.c8e674",
        "type": "function",
        "z": "185fd24d.e6aeae",
        "name": "",
        "func": "if(msg.payload===\"on\")\n{\n    msg.payload=1;\n    return msg;\n}\nelse if(msg.payload===\"off\")\n{\n    msg.payload=0;\n    return msg\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 824,
        "y": 2831,
        "wires": [
            []
        ]
    },
    {
        "id": "82a551c2.583bd",
        "type": "usbcamera",
        "z": "185fd24d.e6aeae",
        "filemode": "1",
        "filename": "",
        "filedefpath": "1",
        "filepath": "/home/pi/Pictures/",
        "fileformat": "png",
        "resolution": "3",
        "name": "",
        "x": 659,
        "y": 152,
        "wires": [
            [
                "b8d38ccc.34c8e"
            ]
        ]
    },
    {
        "id": "e4ff1727.dd1cd8",
        "type": "arduino in",
        "z": "185fd24d.e6aeae",
        "name": "red moisture",
        "pin": "0",
        "state": "ANALOG",
        "arduino": "118e97fc.26aff8",
        "x": 146,
        "y": 304,
        "wires": [
            [
                "cef7e958.8a6258",
                "654e9c5b.249ea4"
            ]
        ]
    },
    {
        "id": "1fd618a1.e77cf7",
        "type": "arduino out",
        "z": "185fd24d.e6aeae",
        "name": "",
        "pin": "9",
        "state": "OUTPUT",
        "arduino": "118e97fc.26aff8",
        "x": 810,
        "y": 722,
        "wires": []
    },
    {
        "id": "f0601016.a263f",
        "type": "arduino out",
        "z": "185fd24d.e6aeae",
        "name": "",
        "pin": "10",
        "state": "OUTPUT",
        "arduino": "118e97fc.26aff8",
        "x": 820,
        "y": 589,
        "wires": []
    },
    {
        "id": "9485e2f6.d2b56",
        "type": "arduino out",
        "z": "185fd24d.e6aeae",
        "name": "",
        "pin": "8",
        "state": "OUTPUT",
        "arduino": "",
        "x": 392,
        "y": 570,
        "wires": []
    },
    {
        "id": "af6a64fc.34c498",
        "type": "trigger",
        "z": "185fd24d.e6aeae",
        "op1": "1",
        "op2": "0",
        "op1type": "num",
        "op2type": "num",
        "duration": "2",
        "extend": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "name": "",
        "x": 383,
        "y": 779,
        "wires": [
            [
                "f0601016.a263f",
                "1fd618a1.e77cf7"
            ]
        ]
    },
    {
        "id": "bea4391.37126c8",
        "type": "comment",
        "z": "185fd24d.e6aeae",
        "name": "check if it works",
        "info": "The payload from the button is 0 for pin 8.\nUse trigger for pins 9 and 10.",
        "x": 156,
        "y": 741,
        "wires": []
    },
    {
        "id": "f23d0c73.9738f",
        "type": "comment",
        "z": "185fd24d.e6aeae",
        "name": "add the new plant to current dropdown",
        "info": "",
        "x": 834,
        "y": 1406,
        "wires": []
    },
    {
        "id": "7d08e8cc.b4f858",
        "type": "ui_text_input",
        "z": "185fd24d.e6aeae",
        "name": "",
        "label": "Name",
        "tooltip": "",
        "group": "d5720cfe.bd165",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "text",
        "delay": 300,
        "topic": "",
        "x": 962,
        "y": 2147,
        "wires": [
            [
                "f8403b0a.830e08",
                "181b03bf.40090c"
            ]
        ]
    },
    {
        "id": "385d1ac3.dce376",
        "type": "ui_numeric",
        "z": "185fd24d.e6aeae",
        "name": "",
        "label": "Min water",
        "tooltip": "",
        "group": "d5720cfe.bd165",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "topic": "",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "step": "50",
        "x": 972,
        "y": 2204,
        "wires": [
            [
                "378c00f3.b3a77",
                "decd74a9.b94628"
            ]
        ]
    },
    {
        "id": "40750eba.ae541",
        "type": "ui_text_input",
        "z": "185fd24d.e6aeae",
        "name": "",
        "label": "Lamp on",
        "tooltip": "",
        "group": "d5720cfe.bd165",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "text",
        "delay": 300,
        "topic": "",
        "x": 972,
        "y": 2261,
        "wires": [
            [
                "cb5455d.a3800a8",
                "2b0073dc.81ceac"
            ]
        ]
    },
    {
        "id": "1e9b12ce.47da4d",
        "type": "ui_text_input",
        "z": "185fd24d.e6aeae",
        "name": "",
        "label": "Lamp off",
        "tooltip": "",
        "group": "d5720cfe.bd165",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "text",
        "delay": 300,
        "topic": "",
        "x": 972,
        "y": 2318,
        "wires": [
            [
                "e6bbfea4.b8a33",
                "ed97ba30.c7f798"
            ]
        ]
    },
    {
        "id": "f547ef9b.b234",
        "type": "function",
        "z": "185fd24d.e6aeae",
        "name": "get current program properties",
        "func": "var program=flow.get(\"current_program\");\nvar dbPlants=msg.payload;\nvar result= dbPlants.filter((progr)=>{return progr.plant_name===program});\nmsg.payload=result[0];\nflow.set(\"current\",msg.payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 491,
        "y": 2223,
        "wires": [
            [
                "c59b76da.947f58",
                "4248d8e5.e66b18",
                "607bd3cf.f0003c",
                "8f0c8d5a.f0225"
            ]
        ]
    },
    {
        "id": "c59b76da.947f58",
        "type": "function",
        "z": "185fd24d.e6aeae",
        "name": "get name",
        "func": "msg.payload=msg.payload.plant_name;\nflow.set(\"plant_name\",msg.payload.plant_name);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 763,
        "y": 2147,
        "wires": [
            [
                "7d08e8cc.b4f858"
            ]
        ]
    },
    {
        "id": "4248d8e5.e66b18",
        "type": "function",
        "z": "185fd24d.e6aeae",
        "name": "get min water",
        "func": "msg.payload=msg.payload.min_water;\nflow.set(\"min_water\",msg.payload.min_water);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 783,
        "y": 2204,
        "wires": [
            [
                "385d1ac3.dce376"
            ]
        ]
    },
    {
        "id": "607bd3cf.f0003c",
        "type": "function",
        "z": "185fd24d.e6aeae",
        "name": "get lamp on",
        "func": "msg.payload=msg.payload.lamp_on;\nflow.set(\"lamp_on\",msg.payload.lamp_on);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 773,
        "y": 2261,
        "wires": [
            [
                "40750eba.ae541"
            ]
        ]
    },
    {
        "id": "8f0c8d5a.f0225",
        "type": "function",
        "z": "185fd24d.e6aeae",
        "name": "get lamp ff",
        "func": "msg.payload=msg.payload.lamp_off;\nflow.set(\"lamp_off\",msg.payload.lamp_off);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 773,
        "y": 2318,
        "wires": [
            [
                "1e9b12ce.47da4d"
            ]
        ]
    },
    {
        "id": "db9d37f7.3a52d8",
        "type": "DataOut",
        "z": "185fd24d.e6aeae",
        "collection": "aafe4b69.45f9a8",
        "name": "Read plants config",
        "path": "/plants",
        "error": false,
        "x": 223,
        "y": 2204,
        "wires": [
            [
                "f547ef9b.b234"
            ]
        ]
    },
    {
        "id": "f8403b0a.830e08",
        "type": "function",
        "z": "185fd24d.e6aeae",
        "name": "",
        "func": "var newCurrentName=msg.payload;\nflow.set(\"newPlantName\",newCurrentName);\nvar a = flow.get(\"current\")\na.plant_name=newCurrentName;\nflow.set(\"current\",a);\n//save to db\n//update plants configs\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1171,
        "y": 2147,
        "wires": [
            [
                "d2e90c1e.cfb39"
            ]
        ]
    },
    {
        "id": "dd691423.52fcf8",
        "type": "function",
        "z": "185fd24d.e6aeae",
        "name": "get current program properties",
        "func": "var program=flow.get(\"current_program\");\nvar dbPlants=msg.payload;\n\ndbPlants=dbPlants.filter((progr)=>{return progr.plant_name===program});\n\ndbPlants.push(flow.get(\"current\"));\n\nflow.set(\"current_program\",flow.get(\"newPlantName\"));\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1764,
        "y": 2242,
        "wires": [
            [
                "26a537a3.e15b58",
                "c0d9bd32.f434"
            ]
        ]
    },
    {
        "id": "d2e90c1e.cfb39",
        "type": "DataOut",
        "z": "185fd24d.e6aeae",
        "collection": "aafe4b69.45f9a8",
        "name": "Read plants config",
        "path": "/plants",
        "error": false,
        "x": 1496,
        "y": 2242,
        "wires": [
            [
                "dd691423.52fcf8"
            ]
        ]
    },
    {
        "id": "26a537a3.e15b58",
        "type": "DataIn",
        "z": "185fd24d.e6aeae",
        "collection": "aafe4b69.45f9a8",
        "name": "",
        "update": false,
        "path": "/plants",
        "x": 2007,
        "y": 2128,
        "wires": []
    },
    {
        "id": "b3452558.956928",
        "type": "inject",
        "z": "185fd24d.e6aeae",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.4",
        "x": 203,
        "y": 2052,
        "wires": [
            [
                "db9d37f7.3a52d8"
            ]
        ]
    },
    {
        "id": "e33600f6.309cb",
        "type": "DataIn",
        "z": "185fd24d.e6aeae",
        "collection": "aafe4b69.45f9a8",
        "name": "",
        "update": false,
        "path": "/currentProgram",
        "x": 2170,
        "y": 2242,
        "wires": []
    },
    {
        "id": "c0d9bd32.f434",
        "type": "function",
        "z": "185fd24d.e6aeae",
        "name": "",
        "func": "msg.payload=flow.get(\"newPlantName\")\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 2007,
        "y": 2242,
        "wires": [
            [
                "e33600f6.309cb"
            ]
        ]
    },
    {
        "id": "378c00f3.b3a77",
        "type": "function",
        "z": "185fd24d.e6aeae",
        "name": "",
        "func": "\nflow.set(\"min_water\",msg.payload);\nvar a = flow.get(\"current\")\na.min_water=msg.payload;\nflow.set(\"current\",a);\n//save to db\n//update plants configs\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1171,
        "y": 2204,
        "wires": [
            [
                "d2e90c1e.cfb39"
            ]
        ]
    },
    {
        "id": "cb5455d.a3800a8",
        "type": "function",
        "z": "185fd24d.e6aeae",
        "name": "",
        "func": "\nflow.set(\"lamp_on\",msg.payload);\nvar a = flow.get(\"current\")\na.lamp_on=msg.payload;\nflow.set(\"current\",a);\n//save to db\n//update plants configs\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1173,
        "y": 2268,
        "wires": [
            [
                "d2e90c1e.cfb39"
            ]
        ]
    },
    {
        "id": "e6bbfea4.b8a33",
        "type": "function",
        "z": "185fd24d.e6aeae",
        "name": "",
        "func": "\nflow.set(\"lamp_off\",msg.payload);\nvar a = flow.get(\"current\")\na.lamp_off=msg.payload;\nflow.set(\"current\",a);\n//save to db\n//update plants configs\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1171,
        "y": 2318,
        "wires": [
            [
                "d2e90c1e.cfb39"
            ]
        ]
    },
    {
        "id": "454d5f6c.f4cd9",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "e426d2a2.c017f",
        "order": 1,
        "disp": true,
        "width": "11",
        "collapse": false
    },
    {
        "id": "ef764282.79efe",
        "type": "ui_group",
        "z": "",
        "name": "Current configuration",
        "tab": "e426d2a2.c017f",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "a6e09b29.3b2948",
        "type": "ui_group",
        "z": "",
        "name": "Add new configuration",
        "tab": "20269bd3.4dfdd4",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "b1163716.73b278",
        "type": "ui_group",
        "z": "",
        "name": "Options",
        "tab": "e426d2a2.c017f",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "51212c3.e7244d4",
        "type": "ui_group",
        "z": "",
        "name": "Lamp",
        "tab": "e426d2a2.c017f",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "aafe4b69.45f9a8",
        "type": "json-db-collection",
        "z": "",
        "name": "PlantConfig",
        "collection": "PlantConfig",
        "save": true
    },
    {
        "id": "d5720cfe.bd165",
        "type": "ui_group",
        "z": "",
        "name": "Change current configuration",
        "tab": "5cb09056.e62ce",
        "order": 5,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "e426d2a2.c017f",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "20269bd3.4dfdd4",
        "type": "ui_tab",
        "z": "",
        "name": "Add new configuration",
        "icon": "fa-plus",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "5cb09056.e62ce",
        "type": "ui_tab",
        "z": "",
        "name": "Change current configuration",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]