flow.json
[
    {
        "id": "d78cd966.d70638",
        "type": "tab",
        "label": "All Nodes",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d14733d8.59a7e",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "true",
            "allowSwipe": "false",
            "lockMenu": "true",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "a98c1d70.5efb8",
        "type": "ui_group",
        "z": "",
        "name": "Current configuration",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "1df59aec.a8fc15",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "a98c1d70.5efb8",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "4c707921.683ad8",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "a98c1d70.5efb8",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "e880bc8c.dd819",
        "type": "ui_group",
        "z": "",
        "name": "Group 5",
        "tab": "2fa685dd.fb56da",
        "order": 2,
        "disp": true,
        "width": "8",
        "collapse": false
    },
    {
        "id": "55922d89.a64294",
        "type": "ui_group",
        "z": "",
        "name": "Add new program",
        "tab": "449d652.465a29c",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "859c76b.8db8188",
        "type": "ui_group",
        "z": "",
        "name": "Current program",
        "tab": "70418eb7.ed5",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "d0861f1a.cb301",
        "type": "ui_group",
        "z": "",
        "name": "Options",
        "tab": "70418eb7.ed5",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "b49eeed8.ce16f",
        "type": "json-db-collection",
        "z": "",
        "name": "PlantConfig",
        "collection": "PlantConfig",
        "save": true
    },
    {
        "id": "e5ed2704.05dc98",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "2fa685dd.fb56da",
        "order": 1,
        "disp": true,
        "width": "9",
        "collapse": false
    },
    {
        "id": "f90f2d51.0088e",
        "type": "arduino-board",
        "z": "",
        "device": "/dev/ttyUSB0"
    },
    {
        "id": "38610e49.cdb392",
        "type": "ui_group",
        "z": "",
        "name": "Change current program",
        "tab": "41d2f66c.735628",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "c2798c06.6d25b",
        "type": "ui_group",
        "z": "",
        "name": "Delete program",
        "tab": "dc3923db.784e9",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "34a17f3.a286e8",
        "type": "ui_group",
        "z": "",
        "name": "Group 4",
        "tab": "2fa685dd.fb56da",
        "order": 3,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "2fa685dd.fb56da",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "fa-home",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "449d652.465a29c",
        "type": "ui_tab",
        "z": "",
        "name": "Add new program",
        "icon": "fa-plus",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "70418eb7.ed5",
        "type": "ui_tab",
        "z": "",
        "name": "Current program",
        "icon": "fa-hand-o-right",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "41d2f66c.735628",
        "type": "ui_tab",
        "z": "",
        "name": "Change current program",
        "icon": "fa-pencil",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "dc3923db.784e9",
        "type": "ui_tab",
        "z": "",
        "name": "Remove program",
        "icon": "fa-times",
        "order": 5,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "62fa3f22.16f14",
        "type": "ui_tab",
        "z": "",
        "name": "Restore",
        "icon": "dashboard"
    },
    {
        "id": "87664306.1716b",
        "type": "ui_group",
        "z": "",
        "name": "Available programs",
        "tab": "dc3923db.784e9",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "f8bd894d.f08478",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "c2798c06.6d25b",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "e3a4f9d5.226108",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "87664306.1716b",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "1e1b417e.00f6ff",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "87664306.1716b",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "eb0cde59.c1cc",
        "type": "ui_group",
        "z": "",
        "name": "Available programs",
        "tab": "449d652.465a29c",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "f8f9f4ca.2be578",
        "type": "inject",
        "z": "d78cd966.d70638",
        "name": "",
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 164,
        "y": 817,
        "wires": [
            [
                "25cb5572.5a37ca"
            ]
        ]
    },
    {
        "id": "195b847c.1d26dc",
        "type": "ui_gauge",
        "z": "d78cd966.d70638",
        "name": "",
        "group": "e880bc8c.dd819",
        "order": 1,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "display moist in guage",
        "label": "units",
        "format": "{{value}}",
        "min": "100",
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "400",
        "seg2": "600",
        "x": 385,
        "y": 304,
        "wires": []
    },
    {
        "id": "1bac87f5.016298",
        "type": "function",
        "z": "d78cd966.d70638",
        "name": "check moisture",
        "func": "if(msg.payload.name)\n{\n    flow.set(\"plantConfig\",msg.payload);\n    return msg;\n}\nvar plant=flow.get(\"current\");\nif(msg.payload>=plant.min_water)\n    {\n        flow.set(\"water\",true);\n        msg.payload=1//\"The plant is DRY\";\n    }\nelse\n   {\n       flow.set(\"water\",false);\n        msg.payload=0;//=\"The plant is moist\";\n   }\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 365,
        "y": 437,
        "wires": [
            [
                "5a1b3254.1b829c"
            ]
        ]
    },
    {
        "id": "f98b5bfb.5be0e8",
        "type": "inject",
        "z": "d78cd966.d70638",
        "name": "",
        "topic": "water",
        "payload": "",
        "payloadType": "date",
        "repeat": "3",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 183,
        "y": 651,
        "wires": [
            [
                "ceae8851.82e2c8"
            ]
        ]
    },
    {
        "id": "ceae8851.82e2c8",
        "type": "function",
        "z": "d78cd966.d70638",
        "name": "start watering",
        "func": "var water=flow.get(\"water\");\n\nif(water===true)\n    {\n        msg.payload= 1;\n    }\nelse    \n    {\n        msg.payload= 0;\n        msg.payload=null;\n        return null;\n    }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 421,
        "y": 651,
        "wires": [
            [
                "9973e55d.12e6b8"
            ]
        ]
    },
    {
        "id": "9973e55d.12e6b8",
        "type": "trigger",
        "z": "d78cd966.d70638",
        "op1": "1",
        "op2": "0",
        "op1type": "num",
        "op2type": "num",
        "duration": "2",
        "extend": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "name": "",
        "x": 611,
        "y": 646,
        "wires": [
            [
                "91b7bc3a.a3763",
                "cbca67b.1ef4898"
            ]
        ]
    },
    {
        "id": "3df66ed5.1859b2",
        "type": "ui_form",
        "z": "d78cd966.d70638",
        "name": "",
        "label": "Add Plant Configuration",
        "group": "55922d89.a64294",
        "order": 1,
        "width": "0",
        "height": "0",
        "options": [
            {
                "label": "Name",
                "value": "plant_name",
                "type": "text",
                "required": true
            },
            {
                "label": "Min water",
                "value": "min_water",
                "type": "text",
                "required": true
            },
            {
                "label": "Turn on lamp at",
                "value": "lamp_on",
                "type": "text",
                "required": true
            },
            {
                "label": "Turn off lamp at",
                "value": "lamp_off",
                "type": "text",
                "required": true
            }
        ],
        "formValue": {
            "plant_name": "",
            "min_water": "",
            "lamp_on": "",
            "lamp_off": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "",
        "x": 214,
        "y": 1311,
        "wires": [
            [
                "7b5a3d01.25b054"
            ]
        ]
    },
    {
        "id": "a542e003.e930a",
        "type": "ui_button",
        "z": "d78cd966.d70638",
        "name": "",
        "group": "859c76b.8db8188",
        "order": 6,
        "width": "0",
        "height": "0",
        "passthru": false,
        "label": "Water now",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "fa-tint",
        "payload": "0",
        "payloadType": "num",
        "topic": "",
        "x": 153,
        "y": 755,
        "wires": [
            [
                "7b6dd19e.a757f",
                "25cb5572.5a37ca"
            ]
        ]
    },
    {
        "id": "bc196649.9f3068",
        "type": "ui_dropdown",
        "z": "d78cd966.d70638",
        "name": "",
        "label": "Choose plant program",
        "tooltip": "",
        "place": "Select option",
        "group": "d0861f1a.cb301",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "options": [],
        "payload": "",
        "topic": "",
        "x": 632,
        "y": 1786,
        "wires": [
            [
                "caa0fd7d.3b73c"
            ]
        ]
    },
    {
        "id": "8eae0930.5c59b8",
        "type": "ui_text",
        "z": "d78cd966.d70638",
        "group": "859c76b.8db8188",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Plant name:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1134,
        "y": 1862,
        "wires": []
    },
    {
        "id": "fe261799.249ce8",
        "type": "ui_text",
        "z": "d78cd966.d70638",
        "group": "859c76b.8db8188",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Min water",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1125,
        "y": 1921,
        "wires": []
    },
    {
        "id": "f5e8f50a.cbbe88",
        "type": "ui_text",
        "z": "d78cd966.d70638",
        "group": "859c76b.8db8188",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Turn on lamp at",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1159,
        "y": 1982,
        "wires": []
    },
    {
        "id": "e2c059d2.3abcd8",
        "type": "ui_text",
        "z": "d78cd966.d70638",
        "group": "859c76b.8db8188",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Turn off lamp at",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1159,
        "y": 2039,
        "wires": []
    },
    {
        "id": "19ca9c1e.aaac34",
        "type": "function",
        "z": "d78cd966.d70638",
        "name": "push new plant to all",
        "func": "msg.payload.push(flow.get(\"new_plant\"));\nflow.set(\"saved_programs\",msg.payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 955,
        "y": 1311,
        "wires": [
            [
                "3bbf8512.5fe83a",
                "aafbf958.45ad08",
                "184e743d.002a1c"
            ]
        ]
    },
    {
        "id": "7b5a3d01.25b054",
        "type": "function",
        "z": "d78cd966.d70638",
        "name": "Set to flow new plant",
        "func": "flow.set(\"new_plant\",msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 480,
        "y": 1311,
        "wires": [
            [
                "a8d467fd.dee388"
            ]
        ]
    },
    {
        "id": "facb7b30.bd0b78",
        "type": "inject",
        "z": "d78cd966.d70638",
        "name": "on start",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 212,
        "y": 1045,
        "wires": [
            [
                "cce61013.6728e",
                "1817f50c.42eb7b"
            ]
        ]
    },
    {
        "id": "8ee8b61f.6478f8",
        "type": "function",
        "z": "d78cd966.d70638",
        "name": "Read plants config names",
        "func": "var configs=[];\nvar saved=[];\nsaved=flow.get(\"saved_programs\");\nsaved.forEach(function(plant){\n    configs.push(plant.plant_name);\n});\nmsg.options=configs;\nmsg.payload=flow.get(\"current_program\")\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 376,
        "y": 1786,
        "wires": [
            [
                "bc196649.9f3068"
            ]
        ]
    },
    {
        "id": "caa0fd7d.3b73c",
        "type": "function",
        "z": "d78cd966.d70638",
        "name": "set flow current program",
        "func": "flow.set(\"current_program\",msg.payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 889,
        "y": 1786,
        "wires": [
            [
                "515c2a6b.8b8324",
                "6da81203.aeed8c",
                "5953f436.8611ec"
            ]
        ]
    },
    {
        "id": "d8f95139.89774",
        "type": "function",
        "z": "d78cd966.d70638",
        "name": "get current program properties",
        "func": "var program=flow.get(\"current_program\");\nvar dbPlants=msg.payload;\nvar result= dbPlants.filter(progr=>progr.plant_name===program);\nmsg.payload=result[0];\nflow.set(\"current\",msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 643,
        "y": 1938,
        "wires": [
            [
                "691c6af7.2282e4",
                "9cead05a.827c2",
                "bb7f3a9d.587698",
                "b2445f2b.f107b"
            ]
        ]
    },
    {
        "id": "691c6af7.2282e4",
        "type": "function",
        "z": "d78cd966.d70638",
        "name": "get name",
        "func": "msg.payload=msg.payload.plant_name;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 915,
        "y": 1862,
        "wires": [
            [
                "8eae0930.5c59b8"
            ]
        ]
    },
    {
        "id": "9cead05a.827c2",
        "type": "function",
        "z": "d78cd966.d70638",
        "name": "get min water",
        "func": "msg.payload=msg.payload.min_water;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 935,
        "y": 1919,
        "wires": [
            [
                "fe261799.249ce8"
            ]
        ]
    },
    {
        "id": "bb7f3a9d.587698",
        "type": "function",
        "z": "d78cd966.d70638",
        "name": "get lamp on",
        "func": "msg.payload=msg.payload.lamp_on;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 925,
        "y": 1976,
        "wires": [
            [
                "f5e8f50a.cbbe88",
                "e4ebe481.23b2e8"
            ]
        ]
    },
    {
        "id": "b2445f2b.f107b",
        "type": "function",
        "z": "d78cd966.d70638",
        "name": "get lamp ff",
        "func": "msg.payload=msg.payload.lamp_off;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 925,
        "y": 2033,
        "wires": [
            [
                "e2c059d2.3abcd8",
                "5799ebe0.5b20e4"
            ]
        ]
    },
    {
        "id": "f8c4f7e4.0668c8",
        "type": "function",
        "z": "d78cd966.d70638",
        "name": "set flow current program",
        "func": "flow.set(\"current_program\",msg.payload);\n//msg.payload={msg.payload};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 725,
        "y": 1080,
        "wires": [
            []
        ]
    },
    {
        "id": "5cab0e2c.fa5c2",
        "type": "function",
        "z": "d78cd966.d70638",
        "name": "set flow saved programs",
        "func": "flow.set(\"saved_programs\",msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 718,
        "y": 1026,
        "wires": [
            []
        ]
    },
    {
        "id": "e4ebe481.23b2e8",
        "type": "function",
        "z": "d78cd966.d70638",
        "name": "set sheduler on time",
        "func": " msg.payload=\"ontime \"+msg.payload;\nflow.set(\"lamp_on\",msg.payload);\nreturn msg ;",
        "outputs": 1,
        "noerr": 0,
        "x": 1430,
        "y": 2261,
        "wires": [
            [
                "b86d36a7.9e62f8"
            ]
        ]
    },
    {
        "id": "5799ebe0.5b20e4",
        "type": "function",
        "z": "d78cd966.d70638",
        "name": "set sheduler off time",
        "func": "msg.payload=\"offtime \"+msg.payload;\nflow.set(\"lamp_off\",msg.payload);\nreturn msg ;",
        "outputs": 1,
        "noerr": 0,
        "x": 1430,
        "y": 2337,
        "wires": [
            [
                "b86d36a7.9e62f8"
            ]
        ]
    },
    {
        "id": "3bbf8512.5fe83a",
        "type": "DataIn",
        "z": "d78cd966.d70638",
        "collection": "b49eeed8.ce16f",
        "name": "save all plants",
        "update": false,
        "path": "/plants",
        "x": 1182,
        "y": 1235,
        "wires": []
    },
    {
        "id": "6da81203.aeed8c",
        "type": "DataIn",
        "z": "d78cd966.d70638",
        "collection": "b49eeed8.ce16f",
        "name": "Save current",
        "update": true,
        "path": "/currentProgram",
        "x": 1172,
        "y": 1748,
        "wires": []
    },
    {
        "id": "a8d467fd.dee388",
        "type": "DataOut",
        "z": "d78cd966.d70638",
        "collection": "b49eeed8.ce16f",
        "name": "ReadPlants",
        "path": "/plants",
        "error": false,
        "x": 735,
        "y": 1311,
        "wires": [
            [
                "19ca9c1e.aaac34"
            ]
        ]
    },
    {
        "id": "cce61013.6728e",
        "type": "DataOut",
        "z": "d78cd966.d70638",
        "collection": "b49eeed8.ce16f",
        "name": "Read plants config",
        "path": "/plants",
        "error": false,
        "x": 432,
        "y": 1026,
        "wires": [
            [
                "5cab0e2c.fa5c2"
            ]
        ]
    },
    {
        "id": "515c2a6b.8b8324",
        "type": "DataOut",
        "z": "d78cd966.d70638",
        "collection": "b49eeed8.ce16f",
        "name": "Read plants config",
        "path": "/plants",
        "error": false,
        "x": 356,
        "y": 1938,
        "wires": [
            [
                "d8f95139.89774"
            ]
        ]
    },
    {
        "id": "1817f50c.42eb7b",
        "type": "DataOut",
        "z": "d78cd966.d70638",
        "collection": "b49eeed8.ce16f",
        "name": "Read current program",
        "path": "/currentProgram",
        "error": false,
        "x": 442,
        "y": 1083,
        "wires": [
            [
                "f8c4f7e4.0668c8"
            ]
        ]
    },
    {
        "id": "bdecdbe9.905378",
        "type": "inject",
        "z": "d78cd966.d70638",
        "name": "on start and every 24 hours",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "86400",
        "crontab": "",
        "once": true,
        "onceDelay": "7",
        "x": 225,
        "y": 105,
        "wires": [
            [
                "edbec358.2d2ea"
            ]
        ]
    },
    {
        "id": "d17d8ae9.3c7028",
        "type": "ui_template",
        "z": "d78cd966.d70638",
        "group": "e5ed2704.05dc98",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<div ng-bind-html=\"msg.payload\"></div>\n<img src=\"{{msg.payload}}\" \nstyle=\"width:640;height:550px; \ntransform: rotate(180deg)\">",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 1067,
        "y": 152,
        "wires": [
            []
        ]
    },
    {
        "id": "90ce1ff9.2e22e",
        "type": "function",
        "z": "d78cd966.d70638",
        "name": "get /filename",
        "func": "if(msg.payload===undefined){\n    return null;\n}\nvar dir=msg.payload;\n\nif( dir.startsWith(\"/home\"))\n{\n    msg.payload=\"/\"+msg.filename;\n    return msg;\n}\nelse \nreturn null;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 849,
        "y": 152,
        "wires": [
            [
                "d17d8ae9.3c7028"
            ]
        ]
    },
    {
        "id": "edbec358.2d2ea",
        "type": "function",
        "z": "d78cd966.d70638",
        "name": "create file name",
        "func": "var d = new Date();\nmsg.filename=\nd.getDate()+\"-\"+d.getMonth()+\"-\"+d.getFullYear()+\n\"_\"+d.getHours()+'-'+d.getMinutes()+\".jpg\";\n\nmsg.payload=\"\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 460,
        "y": 152,
        "wires": [
            [
                "634bdaee.0fec54"
            ]
        ]
    },
    {
        "id": "36533c97.116a24",
        "type": "comment",
        "z": "d78cd966.d70638",
        "name": "make picture     ",
        "info": "",
        "x": 70,
        "y": 57,
        "wires": []
    },
    {
        "id": "a8c7d0e6.abbdd",
        "type": "comment",
        "z": "d78cd966.d70638",
        "name": "read moisture",
        "info": "",
        "x": 70,
        "y": 247,
        "wires": []
    },
    {
        "id": "25f44177.9bd07e",
        "type": "comment",
        "z": "d78cd966.d70638",
        "name": "display moisture",
        "info": "",
        "x": 707,
        "y": 304,
        "wires": []
    },
    {
        "id": "40d77f9c.8879b",
        "type": "comment",
        "z": "d78cd966.d70638",
        "name": "water pump",
        "info": "",
        "x": 70,
        "y": 608,
        "wires": []
    },
    {
        "id": "4311b24d.226a8c",
        "type": "comment",
        "z": "d78cd966.d70638",
        "name": "on start read configuration and current program",
        "info": "",
        "x": 180,
        "y": 969,
        "wires": []
    },
    {
        "id": "e947a5d5.198c38",
        "type": "ui_button",
        "z": "d78cd966.d70638",
        "name": "",
        "group": "e5ed2704.05dc98",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Take picture",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "fa-camera-retro",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "x": 184,
        "y": 152,
        "wires": [
            [
                "edbec358.2d2ea"
            ]
        ]
    },
    {
        "id": "5904c3e7.4bfe0c",
        "type": "comment",
        "z": "d78cd966.d70638",
        "name": "create new plant configuration",
        "info": "",
        "x": 120,
        "y": 1254,
        "wires": []
    },
    {
        "id": "4cf68ffa.1e6d6",
        "type": "comment",
        "z": "d78cd966.d70638",
        "name": "on start add names to dropdown and set value",
        "info": "",
        "x": 170,
        "y": 1634,
        "wires": []
    },
    {
        "id": "634bdaee.0fec54",
        "type": "usbcamera",
        "z": "d78cd966.d70638",
        "filemode": "1",
        "filename": "",
        "filedefpath": "1",
        "filepath": "/home/pi/Pictures/",
        "fileformat": "png",
        "resolution": "2",
        "name": "",
        "x": 659,
        "y": 152,
        "wires": [
            [
                "90ce1ff9.2e22e"
            ]
        ]
    },
    {
        "id": "8011caef.604418",
        "type": "arduino in",
        "z": "d78cd966.d70638",
        "name": "red moisture",
        "pin": "0",
        "state": "ANALOG",
        "arduino": "f90f2d51.0088e",
        "x": 127,
        "y": 380,
        "wires": [
            [
                "195b847c.1d26dc",
                "1bac87f5.016298",
                "b1dd191b.968298"
            ]
        ]
    },
    {
        "id": "cbca67b.1ef4898",
        "type": "arduino out",
        "z": "d78cd966.d70638",
        "name": "",
        "pin": "9",
        "state": "OUTPUT",
        "arduino": "f90f2d51.0088e",
        "x": 677,
        "y": 817,
        "wires": []
    },
    {
        "id": "91b7bc3a.a3763",
        "type": "arduino out",
        "z": "d78cd966.d70638",
        "name": "",
        "pin": "10",
        "state": "OUTPUT",
        "arduino": "f90f2d51.0088e",
        "x": 677,
        "y": 755,
        "wires": []
    },
    {
        "id": "25cb5572.5a37ca",
        "type": "arduino out",
        "z": "d78cd966.d70638",
        "name": "",
        "pin": "8",
        "state": "OUTPUT",
        "arduino": "f90f2d51.0088e",
        "x": 412,
        "y": 817,
        "wires": []
    },
    {
        "id": "7b6dd19e.a757f",
        "type": "trigger",
        "z": "d78cd966.d70638",
        "op1": "1",
        "op2": "0",
        "op1type": "num",
        "op2type": "num",
        "duration": "2",
        "extend": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "name": "",
        "x": 391,
        "y": 755,
        "wires": [
            [
                "91b7bc3a.a3763",
                "cbca67b.1ef4898"
            ]
        ]
    },
    {
        "id": "6aac1a68.aab774",
        "type": "comment",
        "z": "d78cd966.d70638",
        "name": "check if it works",
        "info": "The payload from the button is 0 for pin 8.\nUse trigger for pins 9 and 10.",
        "x": 196,
        "y": 728,
        "wires": []
    },
    {
        "id": "2a981077.890ee",
        "type": "comment",
        "z": "d78cd966.d70638",
        "name": "add the new plant to current dropdown",
        "info": "",
        "x": 929,
        "y": 1406,
        "wires": []
    },
    {
        "id": "da96c935.6b2fa8",
        "type": "ui_text_input",
        "z": "d78cd966.d70638",
        "name": "",
        "label": "Name",
        "tooltip": "",
        "group": "38610e49.cdb392",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "text",
        "delay": "0",
        "topic": "",
        "x": 924,
        "y": 2527,
        "wires": [
            [
                "79fe5378.6ad50c",
                "8eae0930.5c59b8"
            ]
        ]
    },
    {
        "id": "baf95496.34f268",
        "type": "ui_numeric",
        "z": "d78cd966.d70638",
        "name": "",
        "label": "Min water",
        "tooltip": "",
        "group": "38610e49.cdb392",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "topic": "",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "step": "50",
        "x": 934,
        "y": 2584,
        "wires": [
            [
                "d75e2980.08a848",
                "fe261799.249ce8"
            ]
        ]
    },
    {
        "id": "a3daff87.c6c97",
        "type": "ui_text_input",
        "z": "d78cd966.d70638",
        "name": "",
        "label": "Lamp on",
        "tooltip": "",
        "group": "38610e49.cdb392",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "text",
        "delay": "0",
        "topic": "",
        "x": 934,
        "y": 2717,
        "wires": [
            [
                "7fae0bbc.806a14",
                "f5e8f50a.cbbe88"
            ]
        ]
    },
    {
        "id": "ac23f56a.548188",
        "type": "ui_text_input",
        "z": "d78cd966.d70638",
        "name": "",
        "label": "Lamp off",
        "tooltip": "",
        "group": "38610e49.cdb392",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "text",
        "delay": "0",
        "topic": "",
        "x": 934,
        "y": 2774,
        "wires": [
            [
                "521a11f6.82b49",
                "e2c059d2.3abcd8"
            ]
        ]
    },
    {
        "id": "e7237dd1.cdbe5",
        "type": "function",
        "z": "d78cd966.d70638",
        "name": "get current program properties",
        "func": "//var program=flow.get(\"current_program\");\n//var dbPlants=msg.payload;\n//var result= dbPlants.filter((progr)=>{return progr.plant_name===program});\n//msg.payload=result[0];\n//flow.set(\"current\",msg.payload)\nmsg.payload=flow.get(\"current\")\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 415,
        "y": 2622,
        "wires": [
            [
                "4735a019.22e49",
                "da1db0f4.3c5c9",
                "7107cbd8.ee2354",
                "b30b9030.70718"
            ]
        ]
    },
    {
        "id": "4735a019.22e49",
        "type": "function",
        "z": "d78cd966.d70638",
        "name": "get name",
        "func": "msg.payload=msg.payload.plant_name;\nflow.set(\"plant_name\",msg.payload.plant_name);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 725,
        "y": 2527,
        "wires": [
            [
                "da96c935.6b2fa8"
            ]
        ]
    },
    {
        "id": "da1db0f4.3c5c9",
        "type": "function",
        "z": "d78cd966.d70638",
        "name": "get min water",
        "func": "msg.payload=msg.payload.min_water;\nflow.set(\"min_water\",msg.payload.min_water);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 745,
        "y": 2584,
        "wires": [
            [
                "baf95496.34f268"
            ]
        ]
    },
    {
        "id": "7107cbd8.ee2354",
        "type": "function",
        "z": "d78cd966.d70638",
        "name": "get lamp on",
        "func": "msg.payload=msg.payload.lamp_on;\nflow.set(\"lamp_on\",msg.payload.lamp_on);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 735,
        "y": 2641,
        "wires": [
            [
                "a3daff87.c6c97",
                "e4ebe481.23b2e8"
            ]
        ]
    },
    {
        "id": "b30b9030.70718",
        "type": "function",
        "z": "d78cd966.d70638",
        "name": "get lamp ff",
        "func": "msg.payload=msg.payload.lamp_off;\nflow.set(\"lamp_off\",msg.payload.lamp_off);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 735,
        "y": 2698,
        "wires": [
            [
                "ac23f56a.548188",
                "5799ebe0.5b20e4"
            ]
        ]
    },
    {
        "id": "79fe5378.6ad50c",
        "type": "function",
        "z": "d78cd966.d70638",
        "name": "",
        "func": "var newCurrentName=msg.payload;\nflow.set(\"newPlantName\",newCurrentName);\nvar a = flow.get(\"current\")\na.plant_name=newCurrentName;\nflow.set(\"current\",a);\n//save to db\n//update plants configs\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1133,
        "y": 2527,
        "wires": [
            [
                "1d66f3b0.09441c"
            ]
        ]
    },
    {
        "id": "1d66f3b0.09441c",
        "type": "DataOut",
        "z": "d78cd966.d70638",
        "collection": "b49eeed8.ce16f",
        "name": "Read plants config",
        "path": "/plants",
        "error": false,
        "x": 1420,
        "y": 2622,
        "wires": [
            [
                "7157542c.2e361c",
                "76f07e31.edd1a"
            ]
        ]
    },
    {
        "id": "7157542c.2e361c",
        "type": "DataIn",
        "z": "d78cd966.d70638",
        "collection": "b49eeed8.ce16f",
        "name": "",
        "update": false,
        "path": "/plants",
        "x": 1646,
        "y": 2622,
        "wires": []
    },
    {
        "id": "701c4838.eb9728",
        "type": "inject",
        "z": "d78cd966.d70638",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.4",
        "x": 108,
        "y": 2622,
        "wires": [
            [
                "e7237dd1.cdbe5"
            ]
        ]
    },
    {
        "id": "1e5e603f.0c9ac",
        "type": "DataIn",
        "z": "d78cd966.d70638",
        "collection": "b49eeed8.ce16f",
        "name": "",
        "update": false,
        "path": "/currentProgram",
        "x": 1866,
        "y": 2546,
        "wires": []
    },
    {
        "id": "76f07e31.edd1a",
        "type": "function",
        "z": "d78cd966.d70638",
        "name": "",
        "func": "flow.set(\"saved_programs\",msg.payload);\nif(flow.get(\"newPlantName\")){\nmsg.payload=flow.get(\"newPlantName\");\n\nflow.set(\"current_program\",flow.get(\"newPlantName\"));    \n\nreturn msg;\n    \n}else{\n    return null;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1646,
        "y": 2546,
        "wires": [
            [
                "1e5e603f.0c9ac",
                "aafbf958.45ad08"
            ]
        ]
    },
    {
        "id": "d75e2980.08a848",
        "type": "function",
        "z": "d78cd966.d70638",
        "name": "",
        "func": "\nflow.set(\"min_water\",msg.payload);\nvar a = flow.get(\"current\")\na.min_water=msg.payload;\nflow.set(\"current\",a);\n//save to db\n//update plants configs\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1133,
        "y": 2584,
        "wires": [
            [
                "1d66f3b0.09441c"
            ]
        ]
    },
    {
        "id": "7fae0bbc.806a14",
        "type": "function",
        "z": "d78cd966.d70638",
        "name": "",
        "func": "\nflow.set(\"lamp_on\",msg.payload);\nvar a = flow.get(\"current\")\na.lamp_on=msg.payload;\nflow.set(\"current\",a);\n//save to db\n//update plants configs\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1133,
        "y": 2717,
        "wires": [
            [
                "1d66f3b0.09441c",
                "e4ebe481.23b2e8"
            ]
        ]
    },
    {
        "id": "521a11f6.82b49",
        "type": "function",
        "z": "d78cd966.d70638",
        "name": "",
        "func": "\nflow.set(\"lamp_off\",msg.payload);\nvar a = flow.get(\"current\")\na.lamp_off=msg.payload;\nflow.set(\"current\",a);\n//save to db\n//update plants configs\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1133,
        "y": 2774,
        "wires": [
            [
                "1d66f3b0.09441c",
                "5799ebe0.5b20e4"
            ]
        ]
    },
    {
        "id": "a6db3ba0.0d5a58",
        "type": "function",
        "z": "d78cd966.d70638",
        "name": "",
        "func": "flow.set(\"remove\",msg.payload.name);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 362,
        "y": 1520,
        "wires": [
            [
                "c4b29ab3.2124f8"
            ]
        ]
    },
    {
        "id": "c4b29ab3.2124f8",
        "type": "DataOut",
        "z": "d78cd966.d70638",
        "collection": "b49eeed8.ce16f",
        "name": "",
        "path": "/plants",
        "error": false,
        "x": 542,
        "y": 1520,
        "wires": [
            [
                "4bc3f854.090cf8"
            ]
        ]
    },
    {
        "id": "4bc3f854.090cf8",
        "type": "function",
        "z": "d78cd966.d70638",
        "name": "",
        "func": "var result=msg.payload;\nvar remove=flow.get(\"remove\");\nresult=result.filter(function(progr){\n    return progr.plant_name!==remove;\n});\nflow.set(\"saved_programs\",result);\nmsg.payload=result;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 737,
        "y": 1520,
        "wires": [
            [
                "cf64b08.01e645",
                "479379e8.766de8",
                "184e743d.002a1c"
            ]
        ]
    },
    {
        "id": "cf64b08.01e645",
        "type": "DataIn",
        "z": "d78cd966.d70638",
        "collection": "b49eeed8.ce16f",
        "name": "",
        "update": false,
        "path": "/plants",
        "x": 734,
        "y": 1463,
        "wires": []
    },
    {
        "id": "3ff3acf2.4c84c4",
        "type": "inject",
        "z": "d78cd966.d70638",
        "name": "on start",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.2",
        "x": 212,
        "y": 1159,
        "wires": [
            [
                "898cc775.88e548"
            ]
        ]
    },
    {
        "id": "898cc775.88e548",
        "type": "function",
        "z": "d78cd966.d70638",
        "name": "",
        "func": "var current=flow.get(\"current_program\");\nvar plants=flow.get(\"saved_programs\");\n\nvar result=plants.filter((el)=>{\n    return el.plant_name===current;\n});\nflow.set(\"current\",result[0]);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 411,
        "y": 1159,
        "wires": [
            []
        ]
    },
    {
        "id": "fe05f496.42cc48",
        "type": "arduino out",
        "z": "d78cd966.d70638",
        "name": "",
        "pin": "12",
        "state": "OUTPUT",
        "arduino": "f90f2d51.0088e",
        "x": 2083,
        "y": 2299,
        "wires": []
    },
    {
        "id": "c27cdc59.495e6",
        "type": "ui_chart",
        "z": "d78cd966.d70638",
        "name": "",
        "group": "34a17f3.a286e8",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1000",
        "removeOlder": "6",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 734,
        "y": 380,
        "wires": [
            [
                "aa97ecc4.60a1a"
            ]
        ]
    },
    {
        "id": "b1dd191b.968298",
        "type": "function",
        "z": "d78cd966.d70638",
        "name": "",
        "func": "msg.topic=\"Moisture\";\nmsg.label=\"Moisture\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 335,
        "y": 380,
        "wires": [
            [
                "c27cdc59.495e6"
            ]
        ]
    },
    {
        "id": "5a1b3254.1b829c",
        "type": "function",
        "z": "d78cd966.d70638",
        "name": "",
        "func": "msg.topic=\"Watering\";\nvar water=flow.get(\"water\");\nmsg.payload=msg.payload*500;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 544,
        "y": 437,
        "wires": [
            [
                "c27cdc59.495e6"
            ]
        ]
    },
    {
        "id": "b86d36a7.9e62f8",
        "type": "schedex",
        "z": "d78cd966.d70638",
        "name": "",
        "suspended": false,
        "lat": "",
        "lon": "",
        "ontime": "09:00",
        "ontopic": "on",
        "onpayload": "on",
        "onoffset": "0",
        "onrandomoffset": 0,
        "offtime": "18:00",
        "offtopic": "off",
        "offpayload": "off",
        "offoffset": 0,
        "offrandomoffset": 0,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": true,
        "sun": true,
        "x": 1654,
        "y": 2299,
        "wires": [
            [
                "23628d83.068e32"
            ]
        ]
    },
    {
        "id": "23628d83.068e32",
        "type": "function",
        "z": "d78cd966.d70638",
        "name": "",
        "func": "if(msg.payload===\"on\")\n{\n    msg.payload=1;\n    flow.set(\"lamp\",1);\n}\nelse \n{\n    msg.payload=0;\n    flow.set(\"lamp\",0);\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1919,
        "y": 2299,
        "wires": [
            [
                "fe05f496.42cc48"
            ]
        ]
    },
    {
        "id": "f8718dd3.a1ff6",
        "type": "ui_text",
        "z": "d78cd966.d70638",
        "group": "38610e49.cdb392",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Now:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 1750,
        "y": 2385,
        "wires": []
    },
    {
        "id": "5303a640.df65d8",
        "type": "function",
        "z": "d78cd966.d70638",
        "name": "",
        "func": "var d = new Date();\nmsg.payload=d.toLocaleTimeString();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1598,
        "y": 2385,
        "wires": [
            [
                "f8718dd3.a1ff6"
            ]
        ]
    },
    {
        "id": "458cc9de.b7e2f8",
        "type": "inject",
        "z": "d78cd966.d70638",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 1428,
        "y": 2385,
        "wires": [
            [
                "5303a640.df65d8"
            ]
        ]
    },
    {
        "id": "aa97ecc4.60a1a",
        "type": "json",
        "z": "d78cd966.d70638",
        "name": "",
        "x": 886,
        "y": 380,
        "wires": [
            [
                "98130416.181c98"
            ]
        ]
    },
    {
        "id": "98130416.181c98",
        "type": "file",
        "z": "d78cd966.d70638",
        "name": "",
        "filename": "/tmp/chart.log",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "x": 1068,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "7fbd383b.3db2d8",
        "type": "file in",
        "z": "d78cd966.d70638",
        "name": "",
        "filename": "/tmp/chart.log",
        "format": "utf8",
        "sendError": true,
        "x": 365,
        "y": 513,
        "wires": [
            [
                "63779fcd.1128a"
            ]
        ]
    },
    {
        "id": "63779fcd.1128a",
        "type": "json",
        "z": "d78cd966.d70638",
        "name": "",
        "x": 544,
        "y": 513,
        "wires": [
            [
                "c27cdc59.495e6"
            ]
        ]
    },
    {
        "id": "aaa3e79c.cc6218",
        "type": "inject",
        "z": "d78cd966.d70638",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "x": 132,
        "y": 1829,
        "wires": [
            [
                "8ee8b61f.6478f8",
                "515c2a6b.8b8324"
            ]
        ]
    },
    {
        "id": "aafbf958.45ad08",
        "type": "function",
        "z": "d78cd966.d70638",
        "name": "",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1817,
        "y": 2052,
        "wires": [
            [
                "f67bc4b3.87a268"
            ]
        ]
    },
    {
        "id": "479379e8.766de8",
        "type": "function",
        "z": "d78cd966.d70638",
        "name": "",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1646,
        "y": 1520,
        "wires": [
            [
                "aafbf958.45ad08"
            ]
        ]
    },
    {
        "id": "f67bc4b3.87a268",
        "type": "function",
        "z": "d78cd966.d70638",
        "name": "",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 183,
        "y": 2128,
        "wires": [
            [
                "8ee8b61f.6478f8"
            ]
        ]
    },
    {
        "id": "5953f436.8611ec",
        "type": "function",
        "z": "d78cd966.d70638",
        "name": "",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 183,
        "y": 2318,
        "wires": [
            [
                "e7237dd1.cdbe5"
            ]
        ]
    },
    {
        "id": "f1f55e3e.caa32",
        "type": "comment",
        "z": "d78cd966.d70638",
        "name": "delete program",
        "info": "",
        "x": 80,
        "y": 1482,
        "wires": []
    },
    {
        "id": "a52cbc38.e3bb7",
        "type": "ui_form",
        "z": "d78cd966.d70638",
        "name": "",
        "label": "",
        "group": "c2798c06.6d25b",
        "order": 1,
        "width": "0",
        "height": "0",
        "options": [
            {
                "label": "Plant name",
                "value": "name",
                "type": "text",
                "required": true
            }
        ],
        "formValue": {
            "name": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "",
        "x": 174,
        "y": 1519,
        "wires": [
            [
                "a6db3ba0.0d5a58"
            ]
        ]
    },
    {
        "id": "184e743d.002a1c",
        "type": "function",
        "z": "d78cd966.d70638",
        "name": "",
        "func": "var result=[];\nvar programs= flow.get(\"saved_programs\");\nif(programs===null){\n    return null;\n}\n\nprograms.forEach((program)=>{\n    result.push(program.plant_name);\n});\n\nvar html=\"\";\nresult.forEach((el)=>{\n   html= html+ \"<p>\"+el+\"</p>\";\n});\nmsg.payload=html;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 670,
        "y": 1674,
        "wires": [
            [
                "eedb1f8f.7394e",
                "614caf6e.b9127"
            ]
        ]
    },
    {
        "id": "b36c3372.491fd",
        "type": "inject",
        "z": "d78cd966.d70638",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.3",
        "x": 287,
        "y": 1674,
        "wires": [
            [
                "184e743d.002a1c"
            ]
        ]
    },
    {
        "id": "eedb1f8f.7394e",
        "type": "ui_template",
        "z": "d78cd966.d70638",
        "group": "87664306.1716b",
        "name": "",
        "order": 1,
        "width": "0",
        "height": "0",
        "format": "<div ng-bind-html=\"msg.payload\" style=\"height:fit-content;'\">{{msg.payload}}</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 866,
        "y": 1612,
        "wires": [
            []
        ]
    },
    {
        "id": "614caf6e.b9127",
        "type": "ui_template",
        "z": "d78cd966.d70638",
        "group": "eb0cde59.c1cc",
        "name": "",
        "order": 1,
        "width": "0",
        "height": "0",
        "format": "<div ng-bind-html=\"msg.payload\" style=\"height:fit-content;'\">{{msg.payload}}</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 866,
        "y": 1674,
        "wires": [
            []
        ]
    },
    {
        "id": "165c5b48.dfe485",
        "type": "inject",
        "z": "d78cd966.d70638",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 162,
        "y": 513,
        "wires": [
            [
                "7fbd383b.3db2d8",
                "1bac87f5.016298"
            ]
        ]
    }
]