take-picture-flow.txt
[{"id":"1447d13d.fbb24f","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"23ad636a.8f2bec","type":"inject","z":"1447d13d.fbb24f","name":"","topic":"","payload":"","payloadType":"date","repeat":"86400","crontab":"","once":true,"onceDelay":0.1,"x":190,"y":220,"wires":[["b6323284.942e3"]]},{"id":"a4768aea.812548","type":"usbcamera","z":"1447d13d.fbb24f","filemode":"1","filename":"","filedefpath":"1","filepath":"/home/pi/Pictures/","fileformat":"png","resolution":"3","name":"","x":590,"y":220,"wires":[["2a3e09de.195966"]]},{"id":"2377aef1.457342","type":"ui_template","z":"1447d13d.fbb24f","group":"b2efeff0.69a0c","name":"","order":0,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\"></div>\n<img src=\"{{msg.payload}}\" style=\"width:800px;height:600px;\"></img>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1000,"y":220,"wires":[[]]},{"id":"2a3e09de.195966","type":"function","z":"1447d13d.fbb24f","name":"get /filename","func":"var dir=msg.payload;\nif(dir.startsWith(\"/home\"))\n{\n    //var arr=dir.split('/');\n    //msg.payload=\"/\"+arr[arr.length-1];\n    //return msg;\n    msg.payload=\"/\"+msg.filename;\n    return msg;\n}\nelse \nreturn null;\n","outputs":1,"noerr":0,"x":790,"y":220,"wires":[["2377aef1.457342"]]},{"id":"b6323284.942e3","type":"function","z":"1447d13d.fbb24f","name":"create file name","func":"var d = new Date();\nmsg.filename=\nd.getDate()+\"-\"+d.getMonth()+\"-\"+d.getFullYear()+\n\"_\"+d.getHours()+'-'+d.getMinutes()+\".jpg\";\n\nmsg.payload=\"\";\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":220,"wires":[["a4768aea.812548"]]},{"id":"e905a223.6aff7","type":"comment","z":"1447d13d.fbb24f","name":"make picture","info":"","x":130,"y":160,"wires":[]},{"id":"b2efeff0.69a0c","type":"ui_group","z":"","name":"Default","tab":"4e40c2e7.d98aac","disp":true,"width":"26","collapse":false},{"id":"4e40c2e7.d98aac","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]